{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9ca08a6a82.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="{% static 'django_ckeditor_5/dist/styles.css' %}"
      type="text/css"
      media="all"
      rel="stylesheet"
    />
    <script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
    <style>
      body {
        font-family: "DM Sans", sans-serif;
      }
    </style>
    <title>mwalimu Hub</title>
  </head>
  <body>
    <header class="w-full bg-slate-100">
      <nav
        class="w-full max-w-[1200px] mx-auto flex md:justify-between md:items-center py-2"
      >
        <div class="flex gap-12 items-center py-2">
          <a
            href="{% url 'home' %}"
            class="text-[1.75rem] font-bold text-emerald-400"
            >mwalimu Hub
            <span
              ><i
                class="fa-solid fa-lightbulb text-[2rem] text-amber-500"
              ></i></span
          ></a>

          <div class="flex gap-8">
            <a href="{% url 'jobs' %}">Jobs</a><a href="">Blog</a
            ><a href="">Resources & Events</a>
          </div>
        </div>
        <div class="flex gap-6 items-center">
          <a href="#" class="border-2 border-emerald-200 py-2 px-6 rounded-sm"
            >Sign in</a
          ><a href="#" class="bg-emerald-500 text-white py-2 px-3 rounded-sm"
            >Join Writers Team Free</a
          >
        </div>
      </nav>
    </header>
    {% block content %} {% endblock content %}

    <footer
      class="full h-[60vh] bg-slate-700 flex flex-col justify-center items-center"
    >
      <div class="w-full max-w-[1200px] mx-auto grid grid-cols-9 py-16">
        <div class="col-span-5 pr-16">
          <h3 class="text-[2.25rem] text-emerald-400 mb-5 font-black">
            mwalimu Hub
            <span
              ><i class="fa-solid fa-lightbulb text-[2rem] text-amber-500"></i
            ></span>
          </h3>
          <p class="text-[1rem] text-slate-300 leading-normal">
            Join the more than 20+ creators who use mwalimu Hub blog to share
            their knowledge. Easily create a content in a powerful yet simple
            all-in-one platform.
          </p>
          <div class="py-8 flex gap-5">
            <a href="#"
              ><i
                class="fa-brands fa-square-twitter text-slate-400 text-[1.2rem]"
              ></i
            ></a>
            <a href=""
              ><i class="fa-brands fa-linkedin text-slate-400 text-[1.2rem]"></i
            ></a>
            <a href=""
              ><i
                class="fa-brands fa-square-facebook text-slate-400 text-[1.2rem]"
              ></i
            ></a>
          </div>
        </div>
        <div class="col-span-2 pl-24 pt-6">
          <h3 class="text-emerald-400 font-semibold">Explore</h3>
          <ul class="text-slate-300 text-[.95rem] mt-4">
            <li class="mb-2"><a href="{% url 'jobs' %}">Jobs</a></li>
            <li class="mb-2"><a href="#">Blog</a></li>
            <li class="mb-2"><a href="#">Events</a></li>
          </ul>
        </div>
        <div class="col-span-2 pl-24 pt-6">
          <h3 class="text-emerald-400 font-semibold">Support</h3>
          <ul class="text-slate-300 text-[.95rem] mt-4">
            <li class="mb-2"><a href="#">Privacy Policy</a></li>
            <li class="mb-2"><a href="#">Terms of Use</a></li>
            <li class="mb-2"><a href="#">Content Guidelines</a></li>
          </ul>
        </div>
      </div>
      <div class="w-full max-w-[1100px] mx-auto">
        <p class="text-[.75rem] text-slate-400">
          &copy; {% now "Y" %} mwalimu Hub, All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
