{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "DM Sans", sans-serif;
      }
    </style>
    <title>mwalimu Hub</title>
  </head>
  <body>
    <header class="w-full">
      <nav
        class="w-full max-w-[1100px] mx-auto flex md:justify-between md:items-center py-6"
      >
        <div class="flex gap-12 items-center py-2">
          <a href="#"
            ><img src="{% static 'images/logov3.svg' %}" alt="logo" class="h-9"
          /></a>

          <div class="flex gap-8">
            <a href="#">Jobs</a><a href="">Schools</a><a href="">Blog</a
            ><a href="">Resources & Events</a>
          </div>
        </div>
        <div class="flex gap-6 items-center">
          <a href="#" class="border-2 border-slate-400 py-2 px-6">Sign in</a
          ><a href="#" class="bg-emerald-500 text-white py-2 px-3"
            >Join Writers Team Free</a
          >
        </div>
      </nav>
    </header>
    {% block content %} {% endblock content %}

    <footer class="full h-[60vh] bg-slate-700 flex justify-center items-center">
      <div class="w-full max-w-[1100px] mx-auto grid grid-cols-9">
        <div class="col-span-5 pr-16">
          <h3 class="text-[2.25rem] text-emerald-400 mb-5">mwalimu Hub</h3>
          <p class="text-[1rem] text-slate-300 leading-normal">
            Join the more than 20+ creators who use mwalimu Hub blog to share
            their knowledge. Easily create a content in a powerful yet simple
            all-in-one platform.
          </p>
        </div>
        <div class="col-span-2 pl-24 pt-6">
          <h3 class="text-emerald-400">Explore</h3>
          <ul class="text-slate-300 text-[.95rem] mt-4">
            <li class="mb-2"><a href="#">Jobs</a></li>
            <li class="mb-2"><a href="#">Blog & Press</a></li>
            <li class="mb-2"><a href="#">Newsletter</a></li>
          </ul>
        </div>
        <div class="col-span-2 pl-24 pt-6">
          <h3 class="text-emerald-400">Support</h3>
          <ul class="text-slate-300 text-[.95rem] mt-4">
            <li class="mb-2"><a href="#">Privacy Policy</a></li>
            <li class="mb-2"><a href="#">Terms of Use</a></li>
            <li class="mb-2"><a href="#">Content Guidelines</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
