{% extends 'base.html' %} {% block content %}
<section class="w-full h-[40vh] flex items-center justify-center bg-slate-100">
  <div class="w-full max-w-[1100px] mx-auto py-8">
    <p class="text-[2.1rem] font-semibold text-slate-600 mb-3">100+ jobs</p>
    <h1 class="text-[1.2rem] font-normal text-slate-600">
      Discover your dream job at top schools
    </h1>
    <div class="mt-5 py-3">
      <form class="md:grid md:grid-cols-12 md:gap-5 px-5" method="GET">
        <div class="md:col-span-10">
          <input
            type="text"
            class="w-full bg-slate-50 py-4 px-5 border-b-2 border-slate-150 outline-none"
            placeholder="Job title e.i Mathematics teacher"
            name="positions"
          />
        </div>
        <div class="col-span-2">
          <button
            class="bg-emerald-500 text-white py-4 px-3 w-full rounded-sm"
            type="submit"
          >
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="w-full py-30">
  <div class="w-full max-w-[960px] mx-auto py-8 grid grid-cols-12 gap-4">
    <div class="col-span-12 p-4">
      {% for job in jobs %}
      <a
        href="#"
        class="grid grid-cols-12 border-[2px] border-slate-200 p-4 rounded-md my-5"
      >
        <div class="col-span-2 flex justify-start items-center">
          <img src="{{ job.image.url }}" alt="" class="rounded-lg h-24 w-24" />
        </div>
        <div class="col-span-10">
          <div class="flex justify-between mb-2 pr-8">
            <h1 class="text-slate-700 text-[.9rem] font-semibold">
              {{ job.positions }}
            </h1>
            <span class="text-slate-600 text-[.8rem]">
              Published: {{ job.posted_on|timesince }} ago</span
            >
          </div>
          <div class="text-slate-600 py-2 flex justify-between">
            <span class="font-semibold text-[.9rem]"
              >{{ job.company_name }}</span
            >
            <span class="font-semibold">
              <i class="fa-solid fa-money-check-dollar text-slate-400"></i>
              Not disclosed</span
            >
          </div>
          <div class="py-2">
            <p class="text-slate-500 text-[.8rem]">
              {{ job.description|truncatechars:200}}
            </p>
          </div>
          <div class="text-slate-500 text-[.8rem] py-2 flex gap-8">
            <span
              class="font-semibold border-2 border-slate-300 rounded-md p-[8px] text-[.6rem]"
              ><i class="fa-solid fa-earth-africa"></i> {{ job.location }}</span
            >
            <span
              class="font-semibold border-2 border-slate-300 rounded-md p-[8px] text-[.6rem]"
            >
              <i class="fa-solid fa-briefcase"></i>
              {{ job.job_type}}
            </span>
          </div>
        </div>
      </a>

      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
