{% extends 'base.html' %} {% block content %}
<section class="w-full h-[40vh] flex items-center justify-center bg-slate-100">
  <div class="w-full max-w-[1200px] mx-auto py-8 px-5">
    <h1 class="text-[1.8rem] font-normal text-slate-600 mb-4">
      Discover your dream job at top companies
    </h1>
    <div class="mt-5 py-2">
      <form class="md:grid md:grid-cols-12 md:gap-5" method="GET">
        <div class="md:col-span-10">
          <input
            type="text"
            class="w-full bg-slate-50 py-3 px-5 border-b-2 border-slate-150 outline-none"
            placeholder="Job industry i.e. Finance , Education or Telecommunication"
            name="industry"
          />
        </div>
        <div class="col-span-2">
          <button
            class="bg-emerald-500 text-white py-3 px-3 w-full rounded-sm"
            type="submit"
          >
            <span
              ><i class="fa-solid fa-magnifying-glass text-white mr-3"></i
            ></span>
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="w-full">
  <div class="w-full max-w-[1200px] mx-auto py-8 grid grid-cols-12 gap-3">
    <div class="col-span-9 py-4 pr-8">
      {% for job in jobs %}
      <a
        href="{% url 'job' id=job.id %}"
        class="grid grid-cols-12 border-[2px] border-slate-200 p-4 rounded-md my-5 shadowed-md"
      >
        <div class="col-span-2 flex justify-start items-center">
          <img src="{{ job.image.url }}" alt="" class="rounded-lg w-20" />
        </div>
        <div class="col-span-10">
          <div class="flex justify-between mb-2 pr-8">
            <h1 class="text-slate-700 text-[.95rem] font-semibold">
              {{job.title}}
            </h1>
            <span class="text-slate-500 text-[.8rem] font-semibold">
              Posted: {{ job.posted_on|date:"F d, Y"}}
            </span>
          </div>
          <div class="text-slate-600 py-2 flex justify-between">
            <span class="font-semibold text-[.9rem]"
              >{{ job.company_name }}</span
            >
            <span class="font-semibold"> </span>
          </div>
          <div class="py-2">
            <p class="text-slate-500 text-[.9rem]">{{ job.company_summary }}</p>
          </div>
          <div class="text-slate-500 text-[.8rem] py-2 grid grid-cols-12 gap-8">
            <div class="col-span-12">
              <span
                class="font-semibold border-2 border-slate-300 rounded-md p-[8px] text-[.6rem] mr-2"
                ><i class="fa-solid fa-earth-africa"></i> {{job.location}}</span
              >
              <span
                class="font-semibold border-2 border-slate-300 rounded-md p-[8px] text-[.6rem]"
              >
                <i class="fa-solid fa-briefcase"></i>
                {{ job.job_type}}
              </span>
            </div>
          </div>
        </div>
      </a>
      {% empty %}
      <div class="text-center py-4">
        <p class="text-slate-500 text-[1rem] py-5">
          <i class="fa-solid fa-briefcase mb-4"></i> Currently there is no job
          listing in that industry, but stay tuned !
        </p>
        <div class="py-2 w-full text-center">
          <a
            href="{% url 'jobs' %}"
            class="w-80 py-3 px-16 text-center bg-emerald-400 text-white text-[1rem] rounded-sm"
          >
            Browse All Jobs</a
          >
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="col-span-3 py-9">
      <div class="pl-2 h-fit">
        <div
          class="h-12 w-12 border-2 border-slate-200 flex justify-center items-center rounded-lg"
        >
          <div>
            <i
              class="fa-solid fa-magnifying-glass text-[1.5rem] text-slate-500"
            ></i>
          </div>
        </div>
        <div class="py-5">
          <h3 class="text-[1.1rem] font-semibold text-slate-600 mb-3">
            Find your dream job
          </h3>
          <p class="text-[.9rem] text-slate-500 mb-3">
            Find the job that match well with your profile in the best companies
            in the world
          </p>
          <ul>
            <li class="text-[.9rem] my-2 text-slate-500">
              <span
                ><i class="fa-regular fa-circle-check text-emerald-500 mr-2"></i
              ></span>
              Showcase your skills beyond a resume
            </li>
            <li class="text-[.9rem] my-2 text-slate-500">
              <span
                ><i class="fa-regular fa-circle-check text-emerald-500 mr-2"></i
              ></span>
              Get discovered by the top companies
            </li>
            <li class="text-[.9rem] my-2 text-slate-500">
              <span
                ><i class="fa-regular fa-circle-check text-emerald-500 mr-2"></i
              ></span>
              Quickly discover relevant roles
            </li>
            <li class="text-[.9rem] my-2 text-slate-500">
              <span
                ><i class="fa-regular fa-circle-check text-emerald-500 mr-2"></i
              ></span>
              Be the first to know about new jobs
            </li>
          </ul>
          <div class="py-5">
            <a
              href=""
              class="bg-emerald-500 text-white py-3 px-3 w-full rounded-sm block w-full text-center"
              >Sign up for free</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
