{% extends 'base.html' %} {% block content %}

<section class="w-full py-14">
  <div class="w-full max-w-[1200px] mx-auto grid grid-cols-12 gap-4">
    <div class="col-span-8 pr-20">
      <p class="text-[.95rem] font-semibold mb-4 text-emerald-400">
        {{ job.company_name.upper }}
      </p>
      <p class="text-slate-700 text-[1.5rem] font-semibold my-2">
        {{ job.title }}
      </p>
      <p class="text-[.8rem] text-slate-500">
        <span class="mr-2">
          <i class="fa-solid fa-location-dot mr-2"></i> {{ job.location }}</span
        >
        <span class="ml-3 mr-2"
          ><i class="fa-solid fa-briefcase"></i> Industry:
          {{job.industry}}</span
        >
        <span class="ml-3 mr-2"
          ><i class="fa-solid fa-link"></i>
          <a href="{{ job.componay_url }}" target="_new">website</a></span
        >
      </p>
    </div>
    <div class="col-span-4">
      <div class="w-full px-4 mt-8 shadow-lg">
        <div class="pt-4 pl-4 mb-5">
          <p class="text-slate-500 text-[1rem] font-semibold">SIMILAR JOBS</p>
        </div>
        <div class="pl-4">
          {% for related_job in related_jobs %}
          <div class="py-3 mb-2">
            <p class="text-[1rem] text-emerald-400 font-semibold mb-2">
              <a href="{% url 'job' id=related_job.id %}"
                >{{ related_job.title }}</a
              >
            </p>
            <p class="font-semibold text-[.9rem] text-slate-500">
              {{ related_job.company_name.upper }}
            </p>
            <p class="font-semibold text-[.9rem] text-slate-500">
              {{ related_job.location }}
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-[1200px] mx-auto py-2 grid grid-cols-12 gap-3">
    <div
      class="col-span-8 pt-4 pb-14 pr-14 ck ck-content border-b-2 border-slate-200"
    >
      <p class="text-justify text-slate-400 leading-normal">
        {{ job.description | safe}}
      </p>
    </div>
    <div class="col-span-3 py-8 pl-5">
      <div class="px-4 h-fit"></div>
    </div>
  </div>
  <div class="w-full max-w-[1050px] mx-auto grid grid-cols-12 gap-3">
    <div class="col-span-8 py-10 pr-20 ck ck-content">
      <a
        href="{% url 'jobs' %}"
        class="block w-full py-4 px-16 text-center bg-emerald-400 text-white font-semibold text-[1.2rem]"
      >
        Browse All Jobs</a
      >
    </div>
    <div class="col-span-4"></div>
  </div>
</section>

{% endblock %}
