{% extends 'base.html' %} {% load static %}{% block content %}
<section class="w-full h-[45vh] flex items-center justify-center">
  <div class="w-full max-w-[1200px] mx-auto py-8 grid grid-cols-12">
    <div class="col-span-2">
      <img src="{% static 'images/blog_banner.svg' %}" alt="" class="h-56" />
    </div>
    <div class="col-span-10 flex items-center justify-start pl-3">
      <div>
        <h2 class="text-[1.9rem] text-slate-600 font-semibold">
          Engage with blog posts packed with innovative, evidence-based
          strategies tailored to your educational interests
        </h2>
        <p class="text-slate-500 py-2">
          Learn from inspiring stories and latest edutech trends
        </p>
      </div>
    </div>
  </div>
</section>
<section class="w-full py-30">
  <div class="w-full max-w-[1200px] mx-auto py-8 grid grid-cols-12 gap-3">
    <div class="col-span-9 py-4 pr-8">
      <div class="grid grid-cols-12 gap-4">
        {% for blog_post in blog_posts %}
        <a href="#" class="col-span-6">
          <div class="py-4">
            <p class="text-[1.1rem] font-semibold text-emerald-500">
              {{ blog_post.blog_category }}
            </p>
          </div>
          <div class="h-72">
            <img
              src="{{ blog_post.thumbnail.url }}"
              alt=""
              class="max-w-full h-full"
            />
          </div>
          <div class="py-5">
            <h2 class="text-[1.15rem] text-slate-600 font-semibold mb-3">
              {{ blog_post.title }}
            </h2>
            <div class="py-3">
              <p>{{ blog_post.blog_intro }}</p>
            </div>
            <div class="flex gap-4 py-3">
              <div>
                <i
                  class="fa-solid fa-circle-user text-[1.8rem] text-slate-500"
                ></i>
              </div>
              <div>
                <p class="text-sm font-bold text-slate-400">Abdulaziz Sadi</p>
                <p class="text-sm text-slate-400">
                  {{ blog_post.created_on |date:"M d, Y" }}
                </p>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="col-span-3 py-2">
      <div class="pl-2 h-fit">
        <div class="py-2">
          <form class="" method="GET">
            <div class="">
              <input
                type="text"
                class="w-full bg-slate-50 py-3 px-5 border-2 border-slate-100 outline-none mb-3"
                placeholder="Search"
                name="blog_category"
              />
            </div>
            <div class="">
              <button
                class="bg-emerald-500 text-white py-3 px-3 w-full rounded-sm"
                type="submit"
              >
                Search
              </button>
            </div>
          </form>
        </div>
        <div class="py-5">
          {% comment %}
          <h3 class="text-[1.1rem] font-semibold text-slate-600 mb-3">
            Find your dream job
          </h3>
          <p class="text-[.9rem] text-slate-500 mb-3">
            Find the job that match well with your profile in the best companies
            in the world
          </p>
          {% endcomment %}
          <ul>
            <li class="text-[1rem] text-slate-600 font-semibold py-2">
              BLOG CATEGORIES
            </li>
            <li class="text-[.9rem] my-2 text-slate-500 font-semibold">
              Curriculum Planning
            </li>
            <li class="text-[.9rem] my-2 text-slate-500 font-semibold">
              Communication Skills
            </li>
            <li class="text-[.9rem] my-2 text-slate-500 font-semibold">
              New Teachers
            </li>
            <li class="text-[.9rem] my-2 text-slate-500 font-semibold">STEM</li>
            <li class="text-[.9rem] my-2 text-slate-500 font-semibold">
              Student Engagement
            </li>
            <li class="text-[.9rem] my-2 text-slate-500 font-semibold">
              Teacher Collaboration
            </li>
            <li class="text-[.9rem] my-2 text-slate-500 font-semibold">
              Teaching Strategies
            </li>
            <li class="text-[.9rem] my-2 text-slate-500 font-semibold">
              Technology Integration
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
